*{
    padding:0px;
    border:0px;
    margin: auto;
    box-sizing: border-box;
}


body div{
    margin-top: 2%;
}

#header {
    height: 100px;
    width: 80%;
    background-color: #e579e6; 
}

#first-container {
    height: 600px;
    width: 80%;
    background-color: #e1d67a;
}

#sec-container {
    height: 600px;
    width: 80%;
    background-color: #0086ff;
    
    
}
  #sec-container.clearfix::after {
      content: "";
      display: table;
      clear:both ;
  }

  .article {
    background-color: #abcfe7;
    padding:0px;
    border:0px;
  }
     
  #row.article {
    height: 50px;
    width: 100%;
}



  #column1{
     width: 25%;
     height: 500px;
     float:left;  
}

   #column2 {
    width: 40%;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    float:left;
}

#column3 {
    width: 25%;
    height: 500px;
    float:left;
}

  #footer {
    height: 100px;
    width: 80%;
    background-color: #8801fe;; 
}